.about {
  color: #413d4b;
  padding: 70px 0;
}

.about__image {
  @include make-col(5);

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about__content {
  @include make-col(7);
}

.about__title{
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.about__description:last-of-type {
  margin-bottom: 30px;
}
