.about {
  color: #413d4b;
}

.about__container {
  display: flex;
  padding: 70px 0;
}

.about__image {
  margin-right: 20px;
  flex-basis: calc(380 / 940 * 100%);
  max-width: calc(380 / 940 * 100%);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: start;
}

.about__title{
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.about__description:last-of-type {
  margin-bottom: 30px;
}
