.about {
  color: #413d4b;
  padding: 70px 0;
}

@media (max-width: $mobile-breakpoint) {
  .about {
    text-align: center;
  }
}

.about__image {
  @include make-col(5);

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: $mobile-breakpoint) {
  .about__image {
    @include make-col(12);
    margin-bottom: 30px;
  }
}

.about__content {
  @include make-col(7);
}

@media (max-width: $mobile-breakpoint) {
  .about__content {
    @include make-col(12);
  }
}

.about__title{
  @include header;
}

.about__description:last-of-type {
  margin-bottom: 30px;
}
