.works {
  padding: 70px 0;
  line-height: 1.2;
  color: $header-gray;
  text-align: center;
}

.works__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.works__title {
  @include header;
}

.works__more {
  font-weight: 300;
  color: inherit;

  &::after {
    content: '';
    display: inline-block;
    margin-left: 4px;
    width: 10px;
    height: 10px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    vertical-align: middle;
    opacity: 0.7;
    transform: rotate(45deg);
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.works__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.works__item {
  flex: 0 calc(100% / 6);
  height: 200px;
  background-color: gray;

  &:nth-child(even) {
    background-color: dimgray;
  }

  &:nth-child(n+7) {
    background-color: dimgray;
  }

  &:nth-child(n+7):nth-child(even) {
    background-color: gray;
  }

  img {
    object-fit: contain;
  }
}
