.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 ($grid-gutter / 2);
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 ($grid-gutter / -2);
}

.row > * {
  padding: 0 ($grid-gutter / 2);
}
