// Colors

$header-gray: #413d4b;
$accent: #00e0d0;

// Grid

$grid-gutter: 20px;
$columns: 12;

$tablet-breakpoint: 768px;
$tablet-container: 720px;

$mobile-breakpoint: 375px;
$mobile-container: 320px;
